# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# CocoaPods
Pods

# DMGs
*.dmg

#distr branch features
mediaResources
mediaResources/
mediaResources/*

.travis.yml

mediaResources/beardedspiceIcon.sketch/Data

mediaResources/beardedspiceIcon.sketch/metadata

mediaResources/beardedspiceIcon.sketch/QuickLook/Preview.png

mediaResources/beardedspiceIcon.sketch/QuickLook/Thumbnail.png

mediaResources/icon20x19-alt.pdf

mediaResources/icon20x19.pdf
