//
//  Config.xcconfig
//  BeardedSpice
//
//  Created by Roman Sokolov on 26.06.16.
//  Copyright © 2016  GPL v3 http://www.gnu.org/licenses/gpl.html
//

XC_PREFIX_FOR_CONSTANTS = BS_
XC_CONSTANT_HEADER_FILE = $(SRCROOT)/ConfigConstants.h
XC_SPL = /

BS_NAME = Beardie
BS_COPYRIGHT = Copyright © 2019 Beardie. All rights reserved.
BS_VERSION = 3.0.2
BS_BUILD = 54
BS_HOMEPAGE = https:$(XC_SPL)/github.com/Stillness-2/beardie

BS_BUNDLE_ID                                = com.calm_apps.mac.beardie
BS_CONTROLLER_BUNDLE_ID                     = $(BS_BUNDLE_ID).controllers

BS_GROUP                                    = $(DEVELOPMENT_TEAM).$(BS_BUNDLE_ID)

BS_NATIVE_MESSAGING_CONNECTOR_NAME          = beardie-nm-connector
BS_NATIVE_MESSAGING_CONNECTOR_BUNDLE_ID     = $(BS_BUNDLE_ID).nm.connector

BS_SAFARI_EXTENSION_BUNDLE_ID               = $(BS_BUNDLE_ID).safari.extension
BS_CHROME_EXTENSION_ID                      = kcbddjdbhggfejihipchloknandfnkgb

//File extension for javascript `strategy` file.
BS_STRATEGY_EXTENSION                       = bsstrategy


BS_DEFAULT_SAFARI_BUBDLE_ID                 = com.apple.Safari
BS_SAFARI_TECHPREVIEW_ID                    = com.apple.SafariTechnologyPreview
BS_DEFAULT_CHROME_BUNDLE_ID                 = com.google.Chrome

 
// Macro definition
PREPROCESSOR_DEFINITIONS = $(inherited) JSC_OBJC_API_ENABLED=1
GCC_PREPROCESSOR_DEFINITIONS = $(PREPROCESSOR_DEFINITIONS)
