//
//  Config.xcconfig
//  BeardedSpice
//
//  Created by Roman Sokolov on 04.06.16.
//  Copyright © 2016 BeardedSpice. All rights reserved.
//

// if DEBUG_STRATEGY set to 1,
// then BeardedSpice uses strategies only from bundle resources folder.
DEBUG_STRATEGY = 0

#include "./Config.xcconfig"

// Macro definition

GCC_PREPROCESSOR_DEFINITIONS = DEBUG DEBUG_STRATEGY=$(DEBUG_STRATEGY) $(PREPROCESSOR_DEFINITIONS)

