<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
//
//  AmazonMusic.plist
//  BeardedSpice
//
//  Created by Brandon P Smith on 7/23/14.
//  Copyright (c) 2014 Tyler Rhodes / Jose Falcon. All rights reserved.
//
-->
<dict>
    <!-- metadata -->
    <key>version</key>
    <integer>1</integer>
    <key>displayName</key>
    <string>Amazon Music</string>

    <key>accepts</key>
    <dict>
        <key>predicate</key>
        <string>SELF LIKE[c] '*amazon.com/gp/dmusic/cloudplayer/*'</string>
        <key>tabValue</key>
        <string>url</string> <!-- current 'url' or 'title' -->
    </dict>

    <!-- relevant javascripts go here -->
    <key>isPlaying</key>
    <string>(function(){return window.amznMusic.widgets.player.isPlaying();}())</string>

    <key>toggle</key>
    <string>(function(){return window.amznMusic.widgets.player.playHash('togglePlay')})()</string>

    <key>previous</key>
    <string>(function(){return window.amznMusic.widgets.player.playHash('previous')})()</string>

    <key>next</key>
    <string>(function(){return window.amznMusic.widgets.player.playHash('next')})()</string>

    <key>pause</key>
    <string>(function(){window.amznMusic.widgets.player.pause();})()</string>

    <!-- Generate dictionary of namespaced key/values here. All manipulation should be supported in javascript.
    - Namespaced keys currently supported include: track, album, artist, favorited, image
    -->
    <key>trackInfo</key>
    <string>(function(){
        var data = window.amznMusic.widgets.player.getCurrent()['metadata'];
        return {
            'track': data['title'],
            'artist': data['albumName'],
            'album': data['artistName'],
            'image': data['albumCoverImageSmall']
        }})()</string>
</dict>
</plist>
