<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
//
//  BeatsMusicStrategy.m
//  BeardedSpice
//
//  Created by John Bruer on 1/27/14.
//  Copyright (c) 2014 Tyler Rhodes / Jose Falcon. All rights reserved.
//
-->
<dict>
    <!-- NOTE: This file MUST be viewable in xcode or validated by the plutil utility. -->
    <!-- metadata -->
    <key>version</key>
    <integer>1</integer>
    <key>displayName</key>
    <string>Beats Music</string>

    <key>accepts</key>
    <dict>
        <key>predicate</key>
        <string>SELF LIKE[c] '*listen.beatsmusic.com*'</string>
        <key>tabValue</key>
        <string>url</string>
    </dict>

    <!-- Relevant javascripts go here.
    - Normal formatting is supported (can copy/paste with newlines and indentations)
    - &amp; is used to escape '&' so the file is readable.
    -->
    <key>isPlaying</key>
    <string></string>

    <key>toggle</key>
    <string>(function(){document.querySelectorAll('#t-play')[0].click()})();</string>

    <key>previous</key>
    <string>(function(){document.querySelectorAll('#t-prev')[0].click()})();</string>

    <key>next</key>
    <string>(function(){document.querySelectorAll('#t-next')[0].click()})();</string>

    <key>pause</key>
    <string>(function(){window.sm.pauseAll()})();</string>

    <key>favorite</key>
    <string></string>

    <!-- Generate dictionary of namespaced key/values here. All manipulation should be supported in javascript.
    - Namespaced keys currently supported include: track, album, artist, favorited, image
    -->
    <key>trackInfo</key>
    <string></string>
</dict>
</plist>
