<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
//
//  Blitzr.plist
//  BeardedSpice
//
//  Created by Pascal Fouque on 23/07/2015.
//  Copyright (c) 2015 BeardedSpice. All rights reserved.
//
-->
<dict>
    <!-- metadata -->
    <key>version</key>
    <integer>1</integer>
    <key>displayName</key>
    <string>Blitzr</string>

    <key>accepts</key>
    <dict>
        <key>predicate</key>
        <string>SELF LIKE[c] '*blitzr.com*'</string>
        <key>tabValue</key>
        <string>url</string> <!-- current 'url' or 'title' -->
    </dict>

    <!--
    relevant javascripts go here.
    NOTE: &amp; is used to escape '&' so the file is readable.
    -->
    <key>isPlaying</key>
    <string>(function(){ return document.querySelector('#blitzr_playpause span.fa').className.indexOf('fa-play') == -1 })()</string>

    <key>toggle</key>
    <string>(function(){document.querySelector('#blitzr_playpause').click()})()</string>

    <key>previous</key>
    <string>(function(){document.querySelector('#blitzr_prev').click()})()</string>

    <key>next</key>
    <string>(function(){document.querySelector('#blitzr_next').click()})()</string>

    <key>pause</key>
    <string>if (document.querySelector('#blitzr_playpause span.fa').className.indexOf('fa-play') == -1) { document.querySelector('#blitzr_playpause').click() }</string>

    <!-- Generate dictionary of namespaced key/values here. All manipulation should be supported in javascript.
    - Namespaced keys currently supported include: track, album, artist, favorited, image
    -->
    <key>trackInfo</key>
    <string>(function(){
        return {
            'track': document.querySelector('#playerTitle strong').innerHTML,
            'album': document.querySelector('#playerInfo .media-left a').title,
            'artist': document.querySelectorAll('#playerArtists')[0].querySelector('a').innerHTML,
            'image': document.querySelector('#playerInfo .media-left a img').style['background-image'].slice(4, -1),
        }})()</string>
</dict>
</plist>
