<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
//
//  BrainFmStrategy.m
//  BeardedSpice
//
//  Created by James Greenleaf on 03/05/16.
//  Copyright (c) 2013 Tyler Rhodes / Jose Falcon. All rights reserved.
//
-->
<dict>
    <!-- NOTE: This file MUST be viewable in xcode or validated by the plutil utility. -->
    <!-- metadata -->
    <key>version</key>
    <integer>1</integer>
    <key>displayName</key>
    <string>Brain.fm</string>

    <key>accepts</key>
    <dict>
        <key>predicate</key>
        <string>SELF LIKE[c] '*brain.fm/app*'</string>
        <key>tabValue</key>
        <string>url</string>
        -->
    </dict>

    <!-- Relevant javascripts go here.
    - Normal formatting is supported (can copy/paste with newlines and indentations)
    - &amp; is used to escape '&' so the file is readable.
    -->
    <key>isPlaying</key>
    <string>(function(){
        var p = document.querySelector('#play_button');
        return p.classList.contains('tc_pause');
    })()</string>

    <key>toggle</key>
    <string>(function(){document.querySelectorAll('#play_button')[0].click();})();</string>

    <key>previous</key>
    <string></string>

    <key>next</key>
    <string>(function(){return document.querySelectorAll('#skip_button')[0].click()})();</string>

    <key>pause</key>
    <string>(function(){
        var p = document.querySelectorAll('#play_button')[0];
        if(p.classList.contains('tc_pause')){
            p.click();
        }
    })();</string>

    <key>favorite</key>
    <string></string>

    <!-- Generate dictionary of namespaced key/values here. All manipulation should be supported in javascript.
    - Namespaced keys currently supported include: track, album, artist, favorited, image
    -->
    <key>trackInfo</key>
    <string>(function(){
        return {
            track: document.querySelector('#playing_title').textContent
        }
    })();</string>
</dict>
</plist>
