<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
//
//  HotNewHipHop.plist
//  BeardedSpice
//
//  Created by Ivan Doroshenko on 11/7/15.
//  Copyright © 2015 BeardedSpice. All rights reserved.
//
-->
<dict>
    <!-- metadata -->
    <key>version</key>
    <integer>1</integer>
    <key>displayName</key>
    <string>HotNewHipHop</string>

    <key>accepts</key>
    <dict>
        <key>predicate</key>
        <string>SELF LIKE[c] '*hotnewhiphop.com*'</string>
        <key>tabValue</key>
        <string>url</string> <!-- current 'url' or 'title' -->
    </dict>

    <!-- Relevant javascripts go here.
    - Normal formatting is supported (can copy/paste with newlines and indentations)
    - &amp; is used to escape '&' so the file is readable.
    -->
    <key>isPlaying</key>
    <string>(function(){ return document.getElementById('jp_audio_0').paused; })()</string>

    <key>toggle</key>
    <string>(function(){
        var player = document.getElementById('jp_audio_0');
        if (player.paused) { player.play() }
        else { player.pause() }
    })()</string>

    <key>previous</key>
    <string>(function(){$(".jp-previous").click();})()</string>

    <key>next</key>
    <string>(function(){$(".jp-next").click();})()</string>

    <key>pause</key>
    <string>(function(){$("#jquery_jplayer_playlist").jPlayer("pause");})()</string>

    <!-- Generate dictionary of namespaced key/values here. All manipulation should be supported in javascript.
    - Namespaced keys currently supported include: track, album, artist, favorited, image
    -->
    <key>trackInfo</key>
    <string>(function() {
        var album = $('.mixtape-info-title')[0].innerText;
        var artist = $('.mixtape-info-artist')[0].innerText;
        return {
            'track': $('.jp-playlist-current .mixtape-trackTitle .display')[0].innerText,
            'album': album.replace(/\s+/, ''),
            'artist': artist.replace(/\s+/, ''),
            'image': $('.mixtape-cover-img img')[0].getAttribute('src')
        }})()</string>
</dict>
</plist>
