<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
//
//  iHeartRadioStrategy.m
//  BeardedSpice
//
//  Created by Coder-256 on 2/7/16.
//  Copyright © 2016 BeardedSpice. All rights reserved.
//
-->
<dict>
    <!-- NOTE: This file MUST be viewable in xcode or validated by the plutil utility. -->
    <!-- metadata -->
    <key>version</key>
    <integer>1</integer>
    <key>displayName</key>
    <string>iHeartRadio</string>

    <key>accepts</key>
    <dict>
        <key>predicate</key>
        <string>SELF LIKE[c] '*iheart.com*'</string>
        <key>tabValue</key>
        <string>url</string>
    </dict>

    <!-- Relevant javascripts go here.
    - Normal formatting is supported (can copy/paste with newlines and indentations)
    - &amp; is used to escape '&' so the file is readable.
    -->
    <key>isPlaying</key>
    <string>(document.querySelectorAll('[aria-label="Stop"], [aria-label="Pause"]').length > 0)</string>

    <key>toggle</key>
    <string>(function(){
      if (document.querySelectorAll('[aria-label="Stop"], [aria-label="Pause"]').length > 0) {
        try{
          document.querySelector('[aria-label="Stop"]').click();
        } catch(e){
          document.querySelector('[aria-label="Pause"]').click();
        }
      } else {
        var plays = document.querySelectorAll('[aria-label="Play Station"]');
        plays[plays.length-1].click();
      }
    })()</string>

    <key>previous</key>
    <string></string>

    <key>next</key>
    <string>(function(){document.querySelector('[aria-label="Skip"]').click();})()</string>

    <key>pause</key>
    <string>(function(){document.querySelector('[aria-label="Stop"]').click();})()</string>

    <key>favorite</key>
    <string></string>

    <!-- Generate dictionary of namespaced key/values here. All manipulation should be supported in javascript.
    - Namespaced keys currently supported include: track, album, artist, favorited, image
    -->
    <key>trackInfo</key>
    <string>(function(){
      return {
        'track': document.querySelector(".player-song").textContent,
        'album': document.querySelector(".player-artist").textContent,
        'image': document.querySelector(".player-art > img").src.split("?")[0]
      };
    })()</string>
</dict>
</plist>
