<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
//
//  IndieShuffle.plist
//  BeardedSpice
//
//  Created by David Davis on 2015-06-30.
//  Copyright (c) 2015 Tyler Rhodes / Jose Falcon. All rights reserved.
//
-->
<dict>
    <!-- metadata -->
    <key>version</key>
    <integer>1</integer>
    <key>displayName</key>
    <string>IndieShuffle</string>

    <key>accepts</key>
    <dict>
        <key>predicate</key>
        <string>SELF LIKE[c] '*indieshuffle.com*'</string>
        <key>tabValue</key>
        <string>url</string> <!-- current 'url' or 'title' -->
    </dict>

    <!-- Relevant javascripts go here.
    - Normal formatting is supported (can copy/paste with newlines and indentations)
    - &amp; is used to escape '&' so the file is readable.
    -->
    <key>isPlaying</key>
    <string>(function(){
        return document.querySelector('#currentSong .commontrack.active') != undefined;
    })();</string>

    <key>toggle</key>
    <string>(function(){document.querySelector('#currentSong .commontrack').click()})()</string>

    <key>previous</key>
    <string>(function(){if(p=document.querySelector('#prevSong .song_artwork')){p.click();}})()</string>

    <key>next</key>
    <string>(function(){if(p=document.querySelector('#playNextSong')){p.click();}})()</string>

    <key>pause</key>
    <string>(function(){if(p=document.querySelector('#currentSong .commontrack.active')){p.click();}})()</string>

    <!-- Generate dictionary of namespaced key/values here. All manipulation should be supported in javascript.
    - Namespaced keys currently supported include: track, album, artist, favorited, image
    -->
    <key>trackInfo</key>
    <string>(function() {
        var song = document.querySelector('#currentSong');
        return {
            'artist': song.querySelector('.artist_name').innerText,
            'track': song.querySelector('.song-details').innerText,
            'image':song.querySelector('img.song_artwork').getAttribute('src')
        }})()</string>
</dict>
</plist>
