<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
//
//  JangoMedia.plist
//  BeardedSpice
//
//  Created by Stanislav Sidelnikov on 09/11/15.
//  Copyright © 2015 BeardedSpice. All rights reserved.
//
-->
<dict>
    <!-- metadata -->
    <key>version</key>
    <integer>1</integer>
    <key>displayName</key>
    <string>Jango</string>

    <key>accepts</key>
    <dict>
        <key>predicate</key>
        <string>SELF LIKE[c] '*jango.com*'</string>
        <key>tabValue</key>
        <string>url</string> <!-- current 'url' or 'title' -->
    </dict>

    <!-- Relevant javascripts go here.
    - Normal formatting is supported (can copy/paste with newlines and indentations)
    - &amp; is used to escape '&' so the file is readable.
    -->
    <key>isPlaying</key>
    <string>(function(){ return (document.querySelector('#btn-playpause.pause') != null);}())</string>

    <key>toggle</key>
    <string>(function(){document.querySelector('a#btn-playpause').click()})()</string>

    <key>previous</key>
    <string></string>

    <key>next</key>
    <string>(function(){document.querySelector('a#btn-ff').click()})()</string>

    <key>pause</key>
    <string>(function(){
        var e = document.querySelector('a#btn-playpause.pause');
        if(e != null) { e.click(); }
    })()</string>

    <key>favorite</key>
    <string></string>

    <!-- Generate dictionary of namespaced key/values here. All manipulation should be supported in javascript.
    - Namespaced keys currently supported include: track, album, artist, favorited, image
    -->
    <key>trackInfo</key>
    <string>(function(){
        return {
            'track': $('#current-song')[0].innerText,
            'artist': $('#player_current_artist a')[0].innerText,
            'favorited': false,
            'image': $('#player_main_pic_img').attr('src')
        };
    })()</string>
</dict>
</plist>
