<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
//
//  KCRW.plist
//  BeardedSpice
//
//  Created by Alan Ramos on 5/20/2016.
//  Copyright (c) 2016 GPL v3 http://www.gnu.org/licenses/gpl.html
//
-->
<dict>
    <!-- metadata -->
    <key>version</key>
    <integer>1</integer>
    <key>displayName</key>
    <string>KCRW</string>

    <key>accepts</key>
    <dict>
        <key>predicate</key>
        <string>SELF LIKE[c] 'kcrw.com*'</string>
        <key>tabValue</key>
        <string>url</string> <!-- current 'url' or 'title' -->
    </dict>

    <!-- Relevant javascripts go here.
    - Normal formatting is supported (can copy/paste with newlines and indentations)
    - &amp; is used to escape '&' so the file is readable.
    -->
    <key>isPlaying</key>
    <string>(function(){
        return document.querySelector('#player_start_stop').classList.contains('active');
    })()</string>

    <key>toggle</key>
    <string>(function(){return document.querySelectorAll('#player_start_stop')[0].click()})()</string>

    <key>previous</key>
    <string>(function(){return document.querySelectorAll('#player_back')[0].click()})()</string>

    <key>next</key>
    <string>(function(){return document.querySelectorAll('#player_fwd')[0].click()})()</string>

    <key>pause</key>
    <string>(function (){return document.querySelectorAll('#player_start_stop')[0].click()})()</string>


    <!-- Generate dictionary of namespaced key/values here. All manipulation should be supported in javascript.
    - Namespaced keys currently supported include: track, album, artist, favorited, image
    -->
    <key>trackInfo</key>
    <string>(function(){
        var meta = document.querySelector('a.playbackSoundBadge__title.sc-truncate');
        return {
            'track': document.querySelector('#player_subtitle>em').innerText.replace(/['"]+/g, ''),
            'artist': document.getElementById("player_subtitle").childNodes[0],
            'album': document.querySelector('#player_main_title').innerText
        }})()</string>
</dict>
</plist>