<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
//
//  Pandora.plist
//  BeardedSpice
//
//  Created by Jose Falcon on 12/16/13.
//  Copyright (c) 2013 Tyler Rhodes / Jose Falcon. All rights reserved.
//
-->
<dict>
    <!-- metadata -->
    <key>version</key>
    <integer>1</integer>
    <key>displayName</key>
    <string>Pandora</string>

    <key>accepts</key>
    <dict>
        <key>predicate</key>
        <string>SELF LIKE[c] '*pandora.com*'</string>
        <key>tabValue</key>
        <string>url</string> <!-- current 'url' or 'title' -->
    </dict>

    <!-- Relevant javascripts go here.
    - Normal formatting is supported (can copy/paste with newlines and indentations)
    - &amp; is used to escape '&' so the file is readable.
    -->
    <key>isPlaying</key>
    <string>(function() {
        var t = document.querySelector('.pauseButton');
        return (t.style.display === 'block');
    })()</string>

    <key>toggle</key>
    <string>(function() {
        var e = document.querySelector('.playButton');
        var t = document.querySelector('.pauseButton');
        if(t.style.display==='block') { t.click() }
        else { e.click() }
    })()</string>

    <key>next</key>
    <string>document.querySelector('.skipButton').click();</string>

    <key>pause</key>
    <string>document.querySelector('.pauseButton').click();</string>

    <!-- Generate dictionary of namespaced key/values here. All manipulation should be supported in javascript.
    - Namespaced keys currently supported include: track, album, artist, favorited, image
    -->
    <key>trackInfo</key>
    <string>(function(){
        return {
            'track': document.querySelector('.playerBarSong').innerText,
            'artist': document.querySelector('.playerBarArtist').innerText,
            'album': document.querySelector('.playerBarAlbum').innerText,
            'image': document.querySelector('.playerBarArt').src };
    })()</string>
</dict>
</plist>
