<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
//
//  ProductHunt.plist
//  BeardedSpice
//
//  Created by Alexandre Daussy (Kureb) on 05/16/2016.
//  Copyright (c) 2015 GPL v3 http://www.gnu.org/licenses/gpl.html
//
-->
<dict>
    <!-- metadata -->
    <key>version</key>
    <integer>1</integer>
    <key>displayName</key>
    <string>ProductHunt</string>

    <key>accepts</key>
    <dict>
        <key>predicate</key>
        <string>SELF LIKE[c] '*producthunt.com/podcasts/*'</string>
        <key>tabValue</key>
        <string>url</string>
    </dict>

    <key>toggle</key>
    <string>(function(){document.querySelector('span.player--button.v-toggle').click()})()</string>

    <key>previous</key>
    <string>(function(){document.querySelector('div.player--controls > span:nth-child(1)').click()})()</string>

    <key>next</key>
    <string>(function(){document.querySelector('div.player--controls > span:nth-child(3)').click()})()</string>

    <key>favorite</key>
    <string>(function(){document.querySelector('a[rel=save-button]').click()})()</string>

    <key>pause</key>
    <string>(function(){
                if (document.querySelector('body.m-player-active') != null)
                    if (document.querySelector('span.player--button.v-toggle').getAttribute("data-reactid").indexOf("play") == -1)
                    document.querySelector('span.player--button.v-toggle').click();
            })();
    </string>
    
    <key>isPlaying</key>
    <string>
        (function(){
            var playing = false;
            if (document.querySelector('span.player--button.v-toggle') != null)
                playing = document.querySelector('span.player--button.v-toggle').getAttribute("data-reactid").indexOf("play") == -1;
            
            return playing;
        })()
    </string>
    
    
    <key>trackInfo</key>
    <string>
        (function() {
            return {
                'track': document.querySelector('a.player--media--name').innerHTML,
                'image': document.querySelector('a.player--media--coverart > img').getAttribute('src'),
            };
        })();
    </string>


    </dict>
</plist>
