<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
//
//  ShufflerFm.plist
//  BeardedSpice
//
//  Created by Breyten Ernsting on 1/16/14.
//  Copyright (c) 2013 Tyler Rhodes / Jose Falcon. All rights reserved.
//
-->
<dict>
    <!-- metadata -->
    <key>version</key>
    <integer>1</integer>
    <key>displayName</key>
    <string>Shuffler.fm</string>

    <key>accepts</key>
    <dict>
        <key>predicate</key>
        <string>SELF LIKE[c] '*shuffler.fm/tracks*'</string>
        <key>tabValue</key>
        <string>url</string> <!-- current 'url' or 'title' -->
    </dict>

    <!-- Relevant javascripts go here.
    - Normal formatting is supported (can copy/paste with newlines and indentations)
    - &amp; is used to escape '&' so the file is readable.
    -->
    <key>isPlaying</key>
    <string></string>

    <key>toggle</key>
    <string>(function(){var ap=window.SHUFFLER.audioPlayer;if(ap.playing()){ap.pause();}else{ap.play();}})()</string>

    <key>previous</key>
    <string>(function(){SHUFFLER.playerController.onPlayerUiButtonPrevHandler();})()</string>

    <key>next</key>
    <string>(function(){window.SHUFFLER.playerController.onAudioPlayerPlaybackEndHandler();})()</string>

    <key>pause</key>
    <string>(function(){window.SHUFFLER.audioPlayer.pause();})()</string>

    <key>favorite</key>
    <string></string>

    <!-- Generate dictionary of namespaced key/values here. All manipulation should be supported in javascript.
    - Namespaced keys currently supported include: track, album, artist, favorited, image
    -->
    <key>trackInfo</key>
    <string></string>
</dict>
</plist>
