<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
//
//  SoundCloud.plist
//  BeardedSpice
//
//  Created by Jose Falcon on 12/16/13.
//  Copyright (c) 2013 Tyler Rhodes / Jose Falcon. All rights reserved.
//
-->
<dict>
    <!-- metadata -->
    <key>version</key>
    <integer>1</integer>
    <key>displayName</key>
    <string>SoundCloud</string>

    <key>accepts</key>
    <dict>
        <key>predicate</key>
        <string>SELF LIKE[c] '*soundcloud.com*'</string>
        <key>tabValue</key>
        <string>url</string> <!-- current 'url' or 'title' -->
    </dict>

    <!-- Relevant javascripts go here.
    - Normal formatting is supported (can copy/paste with newlines and indentations)
    - &amp; is used to escape '&' so the file is readable.
    -->
    <key>isPlaying</key>
    <string>(function(){
        var play = document.querySelector('.playControl');
        return play.classList.contains('playing');
    })()</string>

    <key>toggle</key>
    <string>(function(){return document.querySelectorAll('.playControl')[0].click()})()</string>

    <key>previous</key>
    <string>(function(){return document.querySelectorAll('.skipControl__previous')[0].click()})()</string>

    <key>next</key>
    <string>(function(){return document.querySelectorAll('.skipControl__next')[0].click()})()</string>

    <key>pause</key>
    <string>(function (){return document.querySelector('div.playControls button.playbackSoundBadge__like').click()})()</string>

    <key>favorite</key>
    <string>(function(){
        var play = document.querySelector('.playControl');
        if(play.classList.contains('playing')) { play.click(); }
    })()</string>

    <!-- Generate dictionary of namespaced key/values here. All manipulation should be supported in javascript.
    - Namespaced keys currently supported include: track, album, artist, favorited, image
    -->
    <key>trackInfo</key>
    <string>(function(){
        var meta = document.querySelector('a.playbackSoundBadge__title.sc-truncate');
        return {
            'track': meta.title,
            'album': meta.href.split('/')[3],
            'image': document.querySelector('div.playControls span.sc-artwork').style['background-image'].slice(4, -1),
            'favorited': document.querySelector('div.playControls button.playbackSoundBadge__like').classList.contains('sc-button-selected')
        }})()</string>
</dict>
</plist>
