<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
//
//  TuneIn.plist
//  BeardedSpice
//
//  Created by Michael Alden on 6/16/15.
//  Copyright (c) 2015 Tyler Rhodes / Jose Falcon. All rights reserved.
//
-->
<dict>
    <!-- metadata -->
    <key>version</key>
    <integer>1</integer>
    <key>displayName</key>
    <string>TuneIn</string>

    <key>accepts</key>
    <dict>
        <key>predicate</key>
        <string>SELF LIKE[c] '*tunein.com*'</string>
        <key>tabValue</key>
        <string>url</string> <!-- current 'url' or 'title' -->
    </dict>

    <!-- Relevant javascripts go here.
    - Normal formatting is supported (can copy/paste with newlines and indentations)
    - &amp; is used to escape '&' so the file is readable.
    -->
    <key>isPlaying</key>
    <string>(function() { return $('#tuner').attr('class') === 'playing' })()</string>

    <key>toggle</key>
    <string>document.querySelector('.playbutton-cont').click();</string>

    <key>previous</key>
    <string></string>

    <key>next</key>
    <string></string>

    <key>pause</key>
    <string>if($('#tuner').attr('class') == 'playing'){document.querySelector('.playbutton-cont').click();}</string>

    <key>favorite</key>
    <string>$('.icon.follow').click()</string>

    <!-- Generate dictionary of namespaced key/values here. All manipulation should be supported in javascript.
    - Namespaced keys currently supported include: track, album, artist, favorited, image
    -->
    <key>trackInfo</key>
    <string>(function(){
        var ret = TuneIn.app.nowPlaying.broadcast;
        return {
            'track': ret.DisplaySubtitle,
            'album': ret.EchoData.title,
            'artist': ret.Location,
            'favorited': $('#tuner div.icon.follow').hasClass('in'),
            'image': $('.artwork.col._navigateNowPlaying').children('.image').children('.logo.loaded').attr('src'),
        }})()</string>
</dict>
</plist>
