<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
//
//  TwentyTwoTracks.plist
//  BeardedSpice
//
//  Created by Jan Pochyla on 08/26/14.
//  Copyright (c) 2013 Tyler Rhodes / Jose Falcon. All rights reserved.
//
-->
<dict>
    <!-- metadata -->
    <key>version</key>
    <integer>1</integer>
    <key>displayName</key>
    <string>22tracks</string>

    <key>accepts</key>
    <dict>
        <key>predicate</key>
        <string>SELF LIKE[c] '*22tracks.com*'</string>
        <key>tabValue</key>
        <string>url</string> <!-- current 'url' or 'title' -->
    </dict>

    <!-- Relevant javascripts go here.
    - Normal formatting is supported (can copy/paste with newlines and indentations)
    - &amp; is used to escape '&' so the file is readable.
    -->
    <key>isPlaying</key>
    <string></string>

    <key>toggle</key>
    <string>(function(){angular.element(document.querySelector('.player .ng-scope')).scope().Audio.playpause()})()</string>

    <key>previous</key>
    <string>(function(){angular.element(document.querySelector('.player .ng-scope')).scope().Audio.previous()})()</string>

    <key>next</key>
    <string>(function(){angular.element(document.querySelector('.player .ng-scope')).scope().Audio.next()})()</string>

    <key>pause</key>
    <string>(function(){angular.element(document.querySelector('.player .ng-scope')).scope().Audio.pause()})()</string>

    <key>favorite</key>
    <string></string>

    <!-- Generate dictionary of namespaced key/values here. All manipulation should be supported in javascript.
    - Namespaced keys currently supported include: track, album, artist, favorited, image
    -->
    <key>trackInfo</key>
    <string></string>
</dict>
</plist>
