<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
//
//  Twitch.plist
//  BeardedSpice
//
//  Copyright (c) 2015 GPL v3 http://www.gnu.org/licenses/gpl.html
//
-->
<dict>
    <!-- metadata -->
    <key>version</key>
    <integer>1</integer>
    <key>displayName</key>
    <string>twitch.tv</string>

    <key>accepts</key>
    <dict>
        <key>predicate</key>
        <string>SELF LIKE[c] '*twitch.tv/*'</string>
        <key>tabValue</key>
        <string>url</string>
    </dict>

    <!-- Relevant javascripts go here.
    - Normal formatting is supported (can copy/paste with newlines and indentations)
    - &amp; is used to escape '&' so the file is readable.
    -->
    <key>isPlaying</key>
    <string>(function() {
        var doc = document;
        var frame = $('iframe[src^=\\'http://player.twitch.tv/?channel=\\']').get(0);
        if (frame) {
            doc = frame.contentDocument || frame.contentWindow.document;
        }
        return (doc.querySelector('.player[data-paused=\"false\"]') != null);
    })()
    </string>

    <key>toggle</key>
    <string>(function() {
        var doc = document;
        var frame = $('iframe[src^=\\'http://player.twitch.tv/?channel=\\']').get(0);
        if (frame) {
            doc = frame.contentDocument || frame.contentWindow.document;
        }
        doc.querySelector('.js-control-playpause-button').click()
    })()
    </string>

    <key>previous</key>
    <string></string>

    <key>next</key>
    <string></string>

    <key>pause</key>
    <string>(function() {
        var doc = document;
        var frame = $('iframe[src^=\\'http://player.twitch.tv/?channel=\\']').get(0);
        if (frame) {
            doc = frame.contentDocument || frame.contentWindow.document;
        }
        doc.querySelector('.player[data-paused=\"false\"] .js-control-playpause-button').click() })()
    </string>

    <key>favorite</key>
    <string></string>

    <!-- Generate dictionary of namespaced key/values here. All manipulation should be supported in javascript.
    - Namespaced keys currently supported include: track, album, artist, favorited, image
    -->
    <key>trackInfo</key>
    <string></string>
</dict>
</plist>
