<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
//
//  Udemy.plist
//  BeardedSpice
//
//  Created by Coder-256 on 10/3/15.
//  Copyright © 2015 BeardedSpice. All rights reserved.
//
-->
<dict>
    <!-- metadata -->
    <key>version</key>
    <integer>1</integer>
    <key>displayName</key>
    <string>Udemy</string>

    <key>accepts</key>
    <dict>
        <key>predicate</key>
        <string>SELF LIKE[c] '*udemy.com*/lecture/*'</string>
        <key>tabValue</key>
        <string>url</string> <!-- current 'url' or 'title' -->
    </dict>

    <!-- Relevant javascripts go here.
    - Normal formatting is supported (can copy/paste with newlines and indentations)
    - &amp; is used to escape '&' so the file is readable.
    -->
    <key>isPlaying</key>
    <string>(function(){return !(document.querySelector('div.ud-lectureangular > iframe').contentWindow.document.querySelector('video').paused);}())</string>

    <key>toggle</key>
    <string>(function(){
        var theVideo = document.querySelector('div.ud-lectureangular > iframe').contentWindow.document.getElementsByTagName("video")[0];
        if (theVideo.paused) { theVideo.play(); }
        else { theVideo.pause() }
    })()</string>

    <key>previous</key>
    <string>(function(){document.querySelector('div.ud-lectureangular > iframe').parent().parent().next().find(".next-lecture")[0].click();})()</string>

    <key>next</key>
    <string>(function(){document.querySelector('div.ud-lectureangular > iframe').parent().parent().parent().find(".prev-lecture")[0].click();})()</string>

    <key>pause</key>
    <string>(function(){document.querySelector('div.ud-lectureangular > iframe').contentWindow.document.getElementsByTagName("video")[0].pause()})()</string>

    <key>favorite</key>
    <string></string>

    <!-- Generate dictionary of namespaced key/values here. All manipulation should be supported in javascript.
    - Namespaced keys currently supported include: track, album, artist, favorited, image
    -->
    <key>trackInfo</key>
    <string>(function() {
        return {
            'track': document.querySelector('.curriculum-item.on .ci-title').innerText,
            'album': 'Udemy'
        }
    })()</string>
</dict>
</plist>
