<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AmazonMusic</key>
	<integer>1</integer>
	<key>Audible</key>
	<integer>1</integer>
	<key>AudioMack</key>
	<integer>1</integer>
	<key>BandCamp</key>
	<integer>1</integer>
	<key>BBCRadio</key>
	<integer>1</integer>
	<key>Beatguide</key>
	<integer>1</integer>
	<key>BeatsMusic</key>
	<integer>1</integer>
	<key>Blitzr</key>
	<integer>1</integer>
	<key>BrainFm</key>
	<integer>1</integer>
	<key>BugsMusic</key>
	<integer>1</integer>
	<key>Chorus</key>
	<integer>1</integer>
	<key>Composed</key>
	<integer>1</integer>
	<key>Coursera</key>
	<integer>1</integer>
	<key>Deezer</key>
	<integer>2</integer>
	<key>DigitallyImported</key>
	<integer>1</integer>
	<key>EightTracks</key>
	<integer>1</integer>
	<key>FocusAtWill</key>
	<integer>1</integer>
	<key>Gaana</key>
	<integer>1</integer>
	<key>GoogleMusic</key>
	<integer>1</integer>
	<key>GrooveShark</key>
	<integer>1</integer>
	<key>HotNewHipHop</key>
	<integer>1</integer>
	<key>HypeMachine</key>
	<integer>1</integer>
	<key>iHeartRadio</key>
	<integer>1</integer>
	<key>IndieShuffle</key>
	<integer>1</integer>
	<key>Jango</key>
	<integer>1</integer>
	<key>KollektFm</key>
	<integer>1</integer>
	<key>LastFm</key>
	<integer>1</integer>
	<key>LeTournedisque</key>
	<integer>1</integer>
	<key>LogitechMediaServer</key>
	<integer>1</integer>
	<key>MixCloud</key>
	<integer>1</integer>
	<key>MusicForProgramming</key>
	<integer>1</integer>
	<key>MusicUnlimited</key>
	<integer>1</integer>
	<key>Netflix</key>
	<integer>1</integer>
	<key>NoAdRadio</key>
	<integer>1</integer>
	<key>NoonPacific</key>
	<integer>1</integer>
	<key>NRK</key>
	<integer>1</integer>
	<key>Odnoklassniki</key>
	<integer>1</integer>
	<key>Overcast</key>
	<integer>1</integer>
	<key>Pandora</key>
	<integer>1</integer>
	<key>PlexWeb</key>
	<integer>1</integer>
	<key>PocketCasts</key>
	<integer>1</integer>
	<key>PoolsideFM</key>
	<integer>1</integer>
	<key>Rdio</key>
	<integer>1</integer>
	<key>Rhapsody</key>
	<integer>1</integer>
	<key>Saavn</key>
	<integer>1</integer>
	<key>ShufflerFm</key>
	<integer>1</integer>
	<key>Slacker</key>
	<integer>1</integer>
	<key>SomaFm</key>
	<integer>1</integer>
	<key>Songza</key>
	<integer>1</integer>
	<key>SoundCloud</key>
	<integer>1</integer>
	<key>Spotify</key>
	<integer>1</integer>
	<key>Stitcher</key>
	<integer>1</integer>
	<key>Subsonic</key>
	<integer>1</integer>
	<key>Synology</key>
	<integer>1</integer>
	<key>TidalHiFi</key>
	<integer>1</integer>
	<key>TuneIn</key>
	<integer>1</integer>
	<key>TwentyTwoTracks</key>
	<integer>1</integer>
	<key>Twitch</key>
	<integer>1</integer>
	<key>Udemy</key>
	<integer>1</integer>
	<key>Vessel</key>
	<integer>1</integer>
	<key>Vimeo</key>
	<integer>1</integer>
	<key>Vk</key>
	<integer>1</integer>
	<key>WatchaPlay</key>
	<integer>1</integer>
	<key>WonderFm</key>
	<integer>1</integer>
	<key>XboxMusic</key>
	<integer>1</integer>
	<key>YandexMusic</key>
	<integer>1</integer>
	<key>YandexRadio</key>
	<integer>1</integer>
	<key>Youtube</key>
	<integer>1</integer>
</dict>
</plist>
