<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AmazonMusic</key>
	<integer>1</integer>
	<key>Anghami</key>
	<integer>1</integer>
	<key>AppleDeveloper</key>
	<integer>1</integer>
	<key>Audible</key>
	<integer>1</integer>
	<key>AudioMack</key>
	<integer>1</integer>
	<key>BandCamp</key>
	<integer>2</integer>
	<key>BandCampWhiteLabel</key>
	<integer>2</integer>
	<key>BBCRadio</key>
	<integer>1</integer>
	<key>BBCRadioProgrammes</key>
	<integer>1</integer>
	<key>BE-AT.TV</key>
	<integer>1</integer>
	<key>Beatguide</key>
	<integer>1</integer>
	<key>Beatport</key>
	<integer>1</integer>
	<key>Blitzr</key>
	<integer>1</integer>
	<key>BrainFm</key>
	<integer>1</integer>
	<key>BugsMusic</key>
	<integer>1</integer>
	<key>Chorus</key>
	<integer>1</integer>
	<key>Composed</key>
	<integer>1</integer>
	<key>Coursera</key>
	<integer>1</integer>
	<key>CozyCloud</key>
	<integer>1</integer>
	<key>Deezer</key>
	<integer>3</integer>
	<key>DigitallyImported</key>
	<integer>1</integer>
	<key>Eggheadio</key>
	<integer>1</integer>
	<key>EightTracks</key>
	<integer>1</integer>
	<key>Fip</key>
	<integer>1</integer>
	<key>FocusAtWill</key>
	<integer>1</integer>
	<key>FocusMusicFM</key>
	<integer>1</integer>
	<key>Gaana</key>
	<integer>1</integer>
	<key>GenieMusic</key>
	<integer>1</integer>
	<key>GoogleMusic</key>
	<integer>2</integer>
	<key>GrooveShark</key>
	<integer>1</integer>
	<key>HotNewHipHop</key>
	<integer>2</integer>
	<key>Hungama</key>
	<integer>1</integer>
	<key>HypeMachine</key>
	<integer>1</integer>
	<key>iHeartRadio</key>
	<integer>1</integer>
	<key>IndieShuffle</key>
	<integer>2</integer>
	<key>Jango</key>
	<integer>1</integer>
	<key>KCRW</key>
	<integer>1</integer>
	<key>KollektFm</key>
	<integer>1</integer>
	<key>Laracasts</key>
	<integer>1</integer>
	<key>LastFm</key>
	<integer>1</integer>
	<key>LeTournedisque</key>
	<integer>1</integer>
	<key>ListenersPlaylist</key>
	<integer>1</integer>
	<key>ListenMoe</key>
	<integer>1</integer>
	<key>ListenOnRepeat</key>
	<integer>1</integer>
	<key>LogitechMediaServer</key>
	<integer>1</integer>
	<key>Lynda</key>
	<integer>1</integer>
	<key>Madsonic</key>
	<integer>1</integer>
	<key>MixCloud</key>
	<integer>3</integer>
	<key>MusicForProgramming</key>
	<integer>1</integer>
	<key>MusicUnlimited</key>
	<integer>1</integer>
	<key>Napster</key>
	<integer>2</integer>
	<key>Netflix</key>
	<integer>1</integer>
	<key>NoAdRadio</key>
	<integer>1</integer>
	<key>NPR</key>
	<integer>1</integer>
	<key>NPROne</key>
	<integer>1</integer>
	<key>NoonPacific</key>
	<integer>1</integer>
	<key>NRK</key>
	<integer>1</integer>
	<key>Odnoklassniki</key>
	<integer>1</integer>
	<key>Overcast</key>
	<integer>1</integer>
	<key>Pakartot</key>
	<integer>1</integer>
	<key>Pandora</key>
	<integer>5</integer>
	<key>PhishIn</key>
	<integer>1</integer>
	<key>PhishTracks</key>
	<integer>1</integer>
	<key>PlexWeb</key>
	<integer>3</integer>
	<key>PocketCasts</key>
	<integer>1</integer>
	<key>PoolsideFM</key>
	<integer>1</integer>
	<key>ProductHunt</key>
	<integer>1</integer>
	<key>Rdio</key>
	<integer>1</integer>
	<key>RedditMusic</key>
	<integer>1</integer>
	<key>Rhapsody</key>
	<integer>1</integer>
	<key>Qobuz</key>
	<integer>1</integer>
	<key>Saavn</key>
	<integer>2</integer>
	<key>ShufflerFm</key>
	<integer>1</integer>
	<key>Slacker</key>
	<integer>1</integer>
	<key>SomaFm</key>
	<integer>1</integer>
	<key>Songza</key>
	<integer>1</integer>
	<key>SoundCloud</key>
	<integer>2</integer>
	<key>Spotify</key>
	<integer>2</integer>
	<key>Stingray</key>
	<integer>2</integer>
	<key>Stitcher</key>
	<integer>1</integer>
	<key>Stripewaves</key>
	<integer>1</integer>
	<key>StyleJukebox</key>
	<integer>1</integer>
	<key>Subsonic</key>
	<integer>1</integer>
	<key>Synology</key>
	<integer>3</integer>
	<key>TuneIn</key>
	<integer>1</integer>
	<key>TwentyTwoTracks</key>
	<integer>1</integer>
	<key>Twitch</key>
	<integer>1</integer>
	<key>Udemy</key>
	<integer>2</integer>
	<key>Vessel</key>
	<integer>1</integer>
	<key>Vimeo</key>
	<integer>1</integer>
	<key>Vk</key>
	<integer>3</integer>
	<key>WatchaPlay</key>
	<integer>1</integer>
	<key>WonderFm</key>
	<integer>2</integer>
	<key>XboxMusic</key>
	<integer>2</integer>
	<key>Xiami</key>
	<integer>1</integer>
	<key>YandexMusic</key>
	<integer>2</integer>
	<key>YandexRadio</key>
	<integer>2</integer>
	<key>Youtube</key>
	<integer>1</integer>
	<key>Zing</key>
	<integer>1</integer>
	<key>Zvooq</key>
	<integer>1</integer>
</dict>
</plist>
