<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
//
//  YouTube.plist
//  BeardedSpice
//
//  Created by Jose Falcon on 12/15/13.
//  Copyright (c) 2013 Tyler Rhodes / Jose Falcon. All rights reserved.
//
-->
<dict>
    <key>version</key>
    <integer>1</integer>
    <key>displayName</key>
    <string>YouTube</string>

    <key>accepts</key>
    <dict>
        <key>predicate</key>
        <string>SELF LIKE[c] '*youtube.com/watch*'</string>
        <key>tabValue</key>
        <string>url</string>
    </dict>

    <key>isPlaying</key>
    <string>(function(){ return !document.querySelector('#movie_player video').paused; })()</string>

    <key>toggle</key>
    <string>(function(){ document.querySelector('#movie_player .ytp-play-button').click(); })()</string>

    <key>previous</key>
    <string>(function(){ document.querySelector('#movie_player .ytp-prev-button').click(); })()</string>

    <key>next</key>
    <string>(function(){ document.querySelector('#movie_player .ytp-next-button').click(); })()</string>

    <key>pause</key>
    <string>(function(){ document.querySelector('#movie_player video').pause(); })()</string>

    <key>trackInfo</key>
    <string>(function(){
        return {
            'image': document.querySelector('link[itemprop=thumbnailUrl]').getAttribute('href'),
            'track': document.querySelector('meta[itemprop=name]').getAttribute('content'),
            'artist': document.querySelector('.yt-user-info').innerText,
        }})()</string>
</dict>
</plist>
