<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>BeardedSpice</string>
	<key>Builder Version</key>
	<string>13604.4.7.1.3</string>
	<key>CFBundleDisplayName</key>
	<string>BeardedSpice</string>
	<key>CFBundleIdentifier</key>
	<string>com.beardedspice.SafariExtension</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>$BS_SAFARI_EXTENSION_VERSION</string>
	<key>CFBundleVersion</key>
	<string>$BS_SAFARI_EXTENSION_BUILD</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>main.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>shared/main.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>shared/utils.js</string>
				<string>shared/init.js</string>
				<string>shared/eventClient.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>This extension allow you to use BeardedSpice for controlling media players on appropriate sites.</string>
	<key>DeveloperIdentifier</key>
	<string>$BS_SAFARI_DEVELOPER_ID</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/beardedspice/beardedspice</string>
</dict>
</plist>
