<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BeardedSpiceActivatePlayingTabShortcut</key>
	<data>YnBsaXN0MDDUAQIDBAUGFhdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV0tleUNvZGVWJGNsYXNzXU1vZGlmaWVyRmxhZ3MQYYACEgAQAADSEBESE1okY2xhc3NuYW1lWCRjbGFzc2VzW01BU1Nob3J0Y3V0ohQVW01BU1Nob3J0Y3V0WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RgZVHJvb3SAAQgRGiMtMjc7QUhQV2VnaW5zfoeTlqKrvcDFAAAAAAAAAQEAAAAAAAAAGgAAAAAAAAAAAAAAAAAAAMc=</data>
	<key>BeardedSpiceActiveControllers</key>
	<dict>
		<key>22tracks</key>
		<true/>
		<key>8tracks</key>
		<true/>
		<key>Amazon Music</key>
		<true/>
		<key>Audible</key>
		<true/>
		<key>AudioMack</key>
		<true/>
		<key>BandCamp</key>
		<true/>
		<key>BBC Radio</key>
		<true/>
		<key>Beatguide</key>
		<true/>
		<key>Beats Music</key>
		<true/>
		<key>blitzr</key>
		<true/>
		<key>Bop.fm</key>
		<true/>
		<key>Brain.fm</key>
		<true/>
		<key>BugsMusic</key>
		<true/>
		<key>Chorus</key>
		<true/>
		<key>Dailymotion</key>
		<true/>
		<key>Deezer</key>
		<true/>
		<key>Digitally Imported</key>
		<true/>
		<key>focus@will</key>
		<true/>
		<key>Gaana</key>
		<true/>
		<key>GoogleMusic</key>
		<true/>
		<key>Grooveshark</key>
		<true/>
		<key>HotNewHipHop</key>
		<true/>
		<key>HypeMachine</key>
		<true/>
		<key>iHeart Radio</key>
		<true/>
		<key>IndieShuffle</key>
		<true/>
		<key>Jango</key>
		<true/>
		<key>Kollekt.FM</key>
		<true/>
		<key>LastFM</key>
		<true/>
		<key>Logitech Media Server</key>
		<true/>
		<key>MixCloud</key>
		<true/>
		<key>MusicForProgramming</key>
		<true/>
		<key>MusicUnlimited</key>
		<true/>
		<key>Netflix</key>
		<true/>
		<key>NoAdRadio</key>
		<true/>
		<key>Odnoklassniki</key>
		<true/>
		<key>Overcast.fm</key>
		<true/>
		<key>Pandora</key>
		<true/>
		<key>PocketCasts</key>
		<true/>
		<key>Poolside FM</key>
		<true/>
		<key>RadioSwissJazz</key>
		<true/>
		<key>Saavn</key>
		<true/>
		<key>Shuffler.fm</key>
		<true/>
		<key>Slacker</key>
		<true/>
		<key>SomaFM</key>
		<true/>
		<key>SoundCloud</key>
		<true/>
		<key>Spotify</key>
		<true/>
		<key>Stitcher</key>
		<true/>
		<key>Synology Audio Station</key>
		<true/>
		<key>TIDAL</key>
		<true/>
		<key>twitch.tv</key>
		<true/>
		<key>Udemy</key>
		<true/>
		<key>Vessel</key>
		<true/>
		<key>VK</key>
		<true/>
		<key>Vimeo</key>
		<true/>
		<key>WonderFM</key>
		<true/>
		<key>Xbox Music</key>
		<true/>
		<key>XboxMusic</key>
		<true/>
		<key>YandexMusic</key>
		<true/>
		<key>YouTube</key>
		<true/>
	</dict>
	<key>BeardedSpiceActiveTabShortcut</key>
	<data>YnBsaXN0MDDUAQIDBAUGFhdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV0tleUNvZGVWJGNsYXNzXU1vZGlmaWVyRmxhZ3MQZIACEgAQAADSEBESE1okY2xhc3NuYW1lWCRjbGFzc2VzW01BU1Nob3J0Y3V0ohQVW01BU1Nob3J0Y3V0WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RgZVHJvb3SAAQgRGiMtMjc7QUhQV2VnaW5zfoeTlqKrvcDFAAAAAAAAAQEAAAAAAAAAGgAAAAAAAAAAAAAAAAAAAMc=</data>
	<key>BeardedSpiceAlwaysShowNotification</key>
	<false/>
	<key>BeardedSpiceFavoriteShortcut</key>
	<data>YnBsaXN0MDDUAQIDBAUGFhdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV0tleUNvZGVWJGNsYXNzXU1vZGlmaWVyRmxhZ3MQbYACEgAQAADSEBESE1okY2xhc3NuYW1lWCRjbGFzc2VzW01BU1Nob3J0Y3V0ohQVW01BU1Nob3J0Y3V0WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RgZVHJvb3SAAQgRGiMtMjc7QUhQV2VnaW5zfoeTlqKrvcDFAAAAAAAAAQEAAAAAAAAAGgAAAAAAAAAAAAAAAAAAAMc=</data>
	<key>BeardedSpiceRemoveHeadphonesAutopause</key>
	<true/>
	<key>BeardedSpiceNotificationShortcut</key>
	<data>YnBsaXN0MDDUAQIDBAUGFhdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV0tleUNvZGVWJGNsYXNzXU1vZGlmaWVyRmxhZ3MQZ4ACEgAQAADSEBESE1okY2xhc3NuYW1lWCRjbGFzc2VzW01BU1Nob3J0Y3V0ohQVW01BU1Nob3J0Y3V0WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RgZVHJvb3SAAQgRGiMtMjc7QUhQV2VnaW5zfoeTlqKrvcDFAAAAAAAAAQEAAAAAAAAAGgAAAAAAAAAAAAAAAAAAAMc=</data>
</dict>
</plist>
