//
//  Config.xcconfig
//  BeardedSpice
//
//  Created by Roman Sokolov on 26.06.16.
//  Copyright © 2016 BeardedSpice. All rights reserved.
//

BS_STRATEGY_EXTENSION = bsstrategy



// Marco definition
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS) BS_STRATEGY_EXTENSION=@\"$(BS_STRATEGY_EXTENSION)\"
