//
//  Config.xcconfig
//  BeardedSpice
//
//  Created by Roman Sokolov on 04.06.16.
//  Copyright © 2016 BeardedSpice. All rights reserved.
//

// if DEBUG_STRATEGY set to 1,
// then BeardedSpice uses strategies only from bundle resources folder.
DEBUG_STRATEGY = 1


#include "./Config.xcconfig"

// Marco definition
GCC_PREPROCESSOR_DEFINITIONS = BS_STRATEGY_EXTENSION=@\"$(BS_STRATEGY_EXTENSION)\" DEBUG_STRATEGY=$(DEBUG_STRATEGY)

